proyectoSW2/WebContent/WEB-INF/services/DetallePredioDao/archivosXML/AguaDao.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://dao" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://logica/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dao">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://logica/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao">
            <xs:import namespace="http://logica/xsd"/>
            <xs:element name="obtenListaAgua">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaAguaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:EAgua"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminaAgua">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eAgua" nillable="true" type="ax21:EAgua"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminaAguaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaAgua">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eAgua" nillable="true" type="ax21:EAgua"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaAguaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenAgua">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="ax21:EAguaId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenAguaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:EAgua"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaAgua">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eAgua" nillable="true" type="ax21:EAgua"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaAguaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://logica/xsd">
            <xs:complexType name="EAgua">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detalleAgua" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fechaPagoAgua" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="ax21:EAguaId"/>
                    <xs:element minOccurs="0" name="valorAgua" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EAguaId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clienteCedula" type="xs:int"/>
                    <xs:element minOccurs="0" name="reciboAgua" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="obtenAguaRequest">
        <wsdl:part name="parameters" element="ns:obtenAgua"/>
    </wsdl:message>
    <wsdl:message name="obtenAguaResponse">
        <wsdl:part name="parameters" element="ns:obtenAguaResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenListaAguaRequest">
        <wsdl:part name="parameters" element="ns:obtenListaAgua"/>
    </wsdl:message>
    <wsdl:message name="obtenListaAguaResponse">
        <wsdl:part name="parameters" element="ns:obtenListaAguaResponse"/>
    </wsdl:message>
    <wsdl:message name="eliminaAguaRequest">
        <wsdl:part name="parameters" element="ns:eliminaAgua"/>
    </wsdl:message>
    <wsdl:message name="eliminaAguaResponse">
        <wsdl:part name="parameters" element="ns:eliminaAguaResponse"/>
    </wsdl:message>
    <wsdl:message name="actualizaAguaRequest">
        <wsdl:part name="parameters" element="ns:actualizaAgua"/>
    </wsdl:message>
    <wsdl:message name="actualizaAguaResponse">
        <wsdl:part name="parameters" element="ns:actualizaAguaResponse"/>
    </wsdl:message>
    <wsdl:message name="guardaAguaRequest">
        <wsdl:part name="parameters" element="ns:guardaAgua"/>
    </wsdl:message>
    <wsdl:message name="guardaAguaResponse">
        <wsdl:part name="parameters" element="ns:guardaAguaResponse"/>
    </wsdl:message>
    <wsdl:portType name="AguaDaoPortType">
        <wsdl:operation name="obtenAgua">
            <wsdl:input message="ns:obtenAguaRequest" wsaw:Action="urn:obtenAgua"/>
            <wsdl:output message="ns:obtenAguaResponse" wsaw:Action="urn:obtenAguaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenListaAgua">
            <wsdl:input message="ns:obtenListaAguaRequest" wsaw:Action="urn:obtenListaAgua"/>
            <wsdl:output message="ns:obtenListaAguaResponse" wsaw:Action="urn:obtenListaAguaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eliminaAgua">
            <wsdl:input message="ns:eliminaAguaRequest" wsaw:Action="urn:eliminaAgua"/>
            <wsdl:output message="ns:eliminaAguaResponse" wsaw:Action="urn:eliminaAguaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizaAgua">
            <wsdl:input message="ns:actualizaAguaRequest" wsaw:Action="urn:actualizaAgua"/>
            <wsdl:output message="ns:actualizaAguaResponse" wsaw:Action="urn:actualizaAguaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardaAgua">
            <wsdl:input message="ns:guardaAguaRequest" wsaw:Action="urn:guardaAgua"/>
            <wsdl:output message="ns:guardaAguaResponse" wsaw:Action="urn:guardaAguaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AguaDaoSoap11Binding" type="ns:AguaDaoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenAgua">
            <soap:operation soapAction="urn:obtenAgua" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaAgua">
            <soap:operation soapAction="urn:obtenListaAgua" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaAgua">
            <soap:operation soapAction="urn:eliminaAgua" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaAgua">
            <soap:operation soapAction="urn:actualizaAgua" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaAgua">
            <soap:operation soapAction="urn:guardaAgua" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AguaDaoSoap12Binding" type="ns:AguaDaoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenAgua">
            <soap12:operation soapAction="urn:obtenAgua" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaAgua">
            <soap12:operation soapAction="urn:obtenListaAgua" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaAgua">
            <soap12:operation soapAction="urn:eliminaAgua" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaAgua">
            <soap12:operation soapAction="urn:actualizaAgua" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaAgua">
            <soap12:operation soapAction="urn:guardaAgua" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AguaDaoHttpBinding" type="ns:AguaDaoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="obtenAgua">
            <http:operation location="obtenAgua"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaAgua">
            <http:operation location="obtenListaAgua"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaAgua">
            <http:operation location="eliminaAgua"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaAgua">
            <http:operation location="actualizaAgua"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaAgua">
            <http:operation location="guardaAgua"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AguaDao">
        <wsdl:port name="AguaDaoHttpSoap11Endpoint" binding="ns:AguaDaoSoap11Binding">
            <soap:address location="http://localhost:8080/proyectoSW2/services/AguaDao.AguaDaoHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AguaDaoHttpSoap12Endpoint" binding="ns:AguaDaoSoap12Binding">
            <soap12:address location="http://localhost:8080/proyectoSW2/services/AguaDao.AguaDaoHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AguaDaoHttpEndpoint" binding="ns:AguaDaoHttpBinding">
            <http:address location="http://localhost:8080/proyectoSW2/services/AguaDao.AguaDaoHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
