proyectoSW2/src/archivosXML/CrediGasDao.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://dao" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://logica/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema.xsd.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dao">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax212="http://logica/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao">
            <xs:import namespace="http://logica/xsd"/>
            <xs:element name="obtenCrediGas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="ax212:CrediGasId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenCrediGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:CrediGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaCrediGas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="crediGas" nillable="true" type="ax212:CrediGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaCrediGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminaCrediGas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="crediGas" nillable="true" type="ax212:CrediGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminaCrediGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaCrediGas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="crediGas" nillable="true" type="ax212:CrediGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaCrediGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaCrediGas">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaCrediGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:CrediGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://logica/xsd">
            <xs:complexType name="CrediGasId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="EGasNReciboGas" type="xs:int"/>
                    <xs:element minOccurs="0" name="contratoGas" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CrediGas">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detalleContratogas" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="ax211:CrediGasId"/>
                    <xs:element minOccurs="0" name="valorArticulo" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="actualizaCrediGasRequest">
        <wsdl:part name="parameters" element="ns:actualizaCrediGas"/>
    </wsdl:message>
    <wsdl:message name="actualizaCrediGasResponse">
        <wsdl:part name="parameters" element="ns:actualizaCrediGasResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenListaCrediGasRequest">
        <wsdl:part name="parameters" element="ns:obtenListaCrediGas"/>
    </wsdl:message>
    <wsdl:message name="obtenListaCrediGasResponse">
        <wsdl:part name="parameters" element="ns:obtenListaCrediGasResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenCrediGasRequest">
        <wsdl:part name="parameters" element="ns:obtenCrediGas"/>
    </wsdl:message>
    <wsdl:message name="obtenCrediGasResponse">
        <wsdl:part name="parameters" element="ns:obtenCrediGasResponse"/>
    </wsdl:message>
    <wsdl:message name="eliminaCrediGasRequest">
        <wsdl:part name="parameters" element="ns:eliminaCrediGas"/>
    </wsdl:message>
    <wsdl:message name="eliminaCrediGasResponse">
        <wsdl:part name="parameters" element="ns:eliminaCrediGasResponse"/>
    </wsdl:message>
    <wsdl:message name="guardaCrediGasRequest">
        <wsdl:part name="parameters" element="ns:guardaCrediGas"/>
    </wsdl:message>
    <wsdl:message name="guardaCrediGasResponse">
        <wsdl:part name="parameters" element="ns:guardaCrediGasResponse"/>
    </wsdl:message>
    <wsdl:portType name="CrediGasDaoPortType">
        <wsdl:operation name="actualizaCrediGas">
            <wsdl:input message="ns:actualizaCrediGasRequest" wsaw:Action="urn:actualizaCrediGas"/>
            <wsdl:output message="ns:actualizaCrediGasResponse" wsaw:Action="urn:actualizaCrediGasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenListaCrediGas">
            <wsdl:input message="ns:obtenListaCrediGasRequest" wsaw:Action="urn:obtenListaCrediGas"/>
            <wsdl:output message="ns:obtenListaCrediGasResponse" wsaw:Action="urn:obtenListaCrediGasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenCrediGas">
            <wsdl:input message="ns:obtenCrediGasRequest" wsaw:Action="urn:obtenCrediGas"/>
            <wsdl:output message="ns:obtenCrediGasResponse" wsaw:Action="urn:obtenCrediGasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eliminaCrediGas">
            <wsdl:input message="ns:eliminaCrediGasRequest" wsaw:Action="urn:eliminaCrediGas"/>
            <wsdl:output message="ns:eliminaCrediGasResponse" wsaw:Action="urn:eliminaCrediGasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardaCrediGas">
            <wsdl:input message="ns:guardaCrediGasRequest" wsaw:Action="urn:guardaCrediGas"/>
            <wsdl:output message="ns:guardaCrediGasResponse" wsaw:Action="urn:guardaCrediGasResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CrediGasDaoSoap11Binding" type="ns:CrediGasDaoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="actualizaCrediGas">
            <soap:operation soapAction="urn:actualizaCrediGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaCrediGas">
            <soap:operation soapAction="urn:obtenListaCrediGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenCrediGas">
            <soap:operation soapAction="urn:obtenCrediGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaCrediGas">
            <soap:operation soapAction="urn:guardaCrediGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaCrediGas">
            <soap:operation soapAction="urn:eliminaCrediGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CrediGasDaoSoap12Binding" type="ns:CrediGasDaoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="actualizaCrediGas">
            <soap12:operation soapAction="urn:actualizaCrediGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaCrediGas">
            <soap12:operation soapAction="urn:obtenListaCrediGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenCrediGas">
            <soap12:operation soapAction="urn:obtenCrediGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaCrediGas">
            <soap12:operation soapAction="urn:guardaCrediGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaCrediGas">
            <soap12:operation soapAction="urn:eliminaCrediGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CrediGasDaoHttpBinding" type="ns:CrediGasDaoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="actualizaCrediGas">
            <http:operation location="actualizaCrediGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaCrediGas">
            <http:operation location="obtenListaCrediGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenCrediGas">
            <http:operation location="obtenCrediGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaCrediGas">
            <http:operation location="guardaCrediGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaCrediGas">
            <http:operation location="eliminaCrediGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CrediGasDao">
        <wsdl:port name="CrediGasDaoHttpSoap11Endpoint" binding="ns:CrediGasDaoSoap11Binding">
            <soap:address location="http://localhost:8080/proyectoSW2/services/CrediGasDao.CrediGasDaoHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CrediGasDaoHttpSoap12Endpoint" binding="ns:CrediGasDaoSoap12Binding">
            <soap12:address location="http://localhost:8080/proyectoSW2/services/CrediGasDao.CrediGasDaoHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CrediGasDaoHttpEndpoint" binding="ns:CrediGasDaoHttpBinding">
            <http:address location="http://localhost:8080/proyectoSW2/services/CrediGasDao.CrediGasDaoHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
