proyectoSW2/src/archivosXML/CrediLuzDao.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://dao" xmlns:ax213="http://logica/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema.xsd.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dao">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax214="http://logica/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao">
            <xs:import namespace="http://logica/xsd"/>
            <xs:element name="obtenCrediLuz">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="ax214:CreditoLuzId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenCrediLuzResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:CreditoLuz"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaCrediLuz">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="creditoLuz" nillable="true" type="ax214:CreditoLuz"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaCrediLuzResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminaCrediLuz">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="creditoLuz" nillable="true" type="ax214:CreditoLuz"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminaCrediLuzResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaCrediLuz">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="creditoLuz" nillable="true" type="ax214:CreditoLuz"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaCrediLuzResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaCrediLuz">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaCrediLuzResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax214:CreditoLuz"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://logica/xsd">
            <xs:complexType name="CreditoLuzId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ELuzNReciboLuz" type="xs:int"/>
                    <xs:element minOccurs="0" name="contratoLuz" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreditoLuz">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detalleContratoluz" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="ax213:CreditoLuzId"/>
                    <xs:element minOccurs="0" name="valorElectro" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="eliminaCrediLuzRequest">
        <wsdl:part name="parameters" element="ns:eliminaCrediLuz"/>
    </wsdl:message>
    <wsdl:message name="eliminaCrediLuzResponse">
        <wsdl:part name="parameters" element="ns:eliminaCrediLuzResponse"/>
    </wsdl:message>
    <wsdl:message name="actualizaCrediLuzRequest">
        <wsdl:part name="parameters" element="ns:actualizaCrediLuz"/>
    </wsdl:message>
    <wsdl:message name="actualizaCrediLuzResponse">
        <wsdl:part name="parameters" element="ns:actualizaCrediLuzResponse"/>
    </wsdl:message>
    <wsdl:message name="guardaCrediLuzRequest">
        <wsdl:part name="parameters" element="ns:guardaCrediLuz"/>
    </wsdl:message>
    <wsdl:message name="guardaCrediLuzResponse">
        <wsdl:part name="parameters" element="ns:guardaCrediLuzResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenCrediLuzRequest">
        <wsdl:part name="parameters" element="ns:obtenCrediLuz"/>
    </wsdl:message>
    <wsdl:message name="obtenCrediLuzResponse">
        <wsdl:part name="parameters" element="ns:obtenCrediLuzResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenListaCrediLuzRequest">
        <wsdl:part name="parameters" element="ns:obtenListaCrediLuz"/>
    </wsdl:message>
    <wsdl:message name="obtenListaCrediLuzResponse">
        <wsdl:part name="parameters" element="ns:obtenListaCrediLuzResponse"/>
    </wsdl:message>
    <wsdl:portType name="CrediLuzDaoPortType">
        <wsdl:operation name="eliminaCrediLuz">
            <wsdl:input message="ns:eliminaCrediLuzRequest" wsaw:Action="urn:eliminaCrediLuz"/>
            <wsdl:output message="ns:eliminaCrediLuzResponse" wsaw:Action="urn:eliminaCrediLuzResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizaCrediLuz">
            <wsdl:input message="ns:actualizaCrediLuzRequest" wsaw:Action="urn:actualizaCrediLuz"/>
            <wsdl:output message="ns:actualizaCrediLuzResponse" wsaw:Action="urn:actualizaCrediLuzResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardaCrediLuz">
            <wsdl:input message="ns:guardaCrediLuzRequest" wsaw:Action="urn:guardaCrediLuz"/>
            <wsdl:output message="ns:guardaCrediLuzResponse" wsaw:Action="urn:guardaCrediLuzResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenCrediLuz">
            <wsdl:input message="ns:obtenCrediLuzRequest" wsaw:Action="urn:obtenCrediLuz"/>
            <wsdl:output message="ns:obtenCrediLuzResponse" wsaw:Action="urn:obtenCrediLuzResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenListaCrediLuz">
            <wsdl:input message="ns:obtenListaCrediLuzRequest" wsaw:Action="urn:obtenListaCrediLuz"/>
            <wsdl:output message="ns:obtenListaCrediLuzResponse" wsaw:Action="urn:obtenListaCrediLuzResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CrediLuzDaoSoap11Binding" type="ns:CrediLuzDaoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="eliminaCrediLuz">
            <soap:operation soapAction="urn:eliminaCrediLuz" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaCrediLuz">
            <soap:operation soapAction="urn:actualizaCrediLuz" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaCrediLuz">
            <soap:operation soapAction="urn:guardaCrediLuz" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenCrediLuz">
            <soap:operation soapAction="urn:obtenCrediLuz" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaCrediLuz">
            <soap:operation soapAction="urn:obtenListaCrediLuz" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CrediLuzDaoSoap12Binding" type="ns:CrediLuzDaoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="eliminaCrediLuz">
            <soap12:operation soapAction="urn:eliminaCrediLuz" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaCrediLuz">
            <soap12:operation soapAction="urn:actualizaCrediLuz" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaCrediLuz">
            <soap12:operation soapAction="urn:guardaCrediLuz" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenCrediLuz">
            <soap12:operation soapAction="urn:obtenCrediLuz" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaCrediLuz">
            <soap12:operation soapAction="urn:obtenListaCrediLuz" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CrediLuzDaoHttpBinding" type="ns:CrediLuzDaoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="eliminaCrediLuz">
            <http:operation location="eliminaCrediLuz"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaCrediLuz">
            <http:operation location="actualizaCrediLuz"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaCrediLuz">
            <http:operation location="guardaCrediLuz"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenCrediLuz">
            <http:operation location="obtenCrediLuz"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaCrediLuz">
            <http:operation location="obtenListaCrediLuz"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CrediLuzDao">
        <wsdl:port name="CrediLuzDaoHttpSoap11Endpoint" binding="ns:CrediLuzDaoSoap11Binding">
            <soap:address location="http://localhost:8080/proyectoSW2/services/CrediLuzDao.CrediLuzDaoHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CrediLuzDaoHttpSoap12Endpoint" binding="ns:CrediLuzDaoSoap12Binding">
            <soap12:address location="http://localhost:8080/proyectoSW2/services/CrediLuzDao.CrediLuzDaoHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CrediLuzDaoHttpEndpoint" binding="ns:CrediLuzDaoHttpBinding">
            <http:address location="http://localhost:8080/proyectoSW2/services/CrediLuzDao.CrediLuzDaoHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
