proyectoSW2/src/archivosXML/DetalleCamaraDao.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://dao" xmlns:ax213="http://logica/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dao">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax214="http://logica/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao">
            <xs:import namespace="http://logica/xsd"/>
            <xs:element name="eliminaDetalleCamara">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="detalleCamara" nillable="true" type="ax214:DetalleCamara"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminaDetalleCamaraResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenDetalleComercio">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="ax214:DetalleCamaraId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenDetalleComercioResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:DetalleCamara"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaDetalleCamara">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="detalleCamara" nillable="true" type="ax214:DetalleCamara"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaDetalleCamaraResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaDetalleComercio">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="detalleCamara" nillable="true" type="ax214:DetalleCamara"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaDetalleComercioResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaDetalleComercio">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaDetalleComercioResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax214:DetalleCamara"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://logica/xsd">
            <xs:complexType name="DetalleCamara">
                <xs:sequence>
                    <xs:element minOccurs="0" name="descripcionNegocio" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="ax213:DetalleCamaraId"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DetalleCamaraId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="camaraComercioNitCamaraComercio" type="xs:int"/>
                    <xs:element minOccurs="0" name="clienteCedula" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="obtenListaDetalleComercioRequest">
        <wsdl:part name="parameters" element="ns:obtenListaDetalleComercio"/>
    </wsdl:message>
    <wsdl:message name="obtenListaDetalleComercioResponse">
        <wsdl:part name="parameters" element="ns:obtenListaDetalleComercioResponse"/>
    </wsdl:message>
    <wsdl:message name="eliminaDetalleCamaraRequest">
        <wsdl:part name="parameters" element="ns:eliminaDetalleCamara"/>
    </wsdl:message>
    <wsdl:message name="eliminaDetalleCamaraResponse">
        <wsdl:part name="parameters" element="ns:eliminaDetalleCamaraResponse"/>
    </wsdl:message>
    <wsdl:message name="actualizaDetalleComercioRequest">
        <wsdl:part name="parameters" element="ns:actualizaDetalleComercio"/>
    </wsdl:message>
    <wsdl:message name="actualizaDetalleComercioResponse">
        <wsdl:part name="parameters" element="ns:actualizaDetalleComercioResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenDetalleComercioRequest">
        <wsdl:part name="parameters" element="ns:obtenDetalleComercio"/>
    </wsdl:message>
    <wsdl:message name="obtenDetalleComercioResponse">
        <wsdl:part name="parameters" element="ns:obtenDetalleComercioResponse"/>
    </wsdl:message>
    <wsdl:message name="guardaDetalleCamaraRequest">
        <wsdl:part name="parameters" element="ns:guardaDetalleCamara"/>
    </wsdl:message>
    <wsdl:message name="guardaDetalleCamaraResponse">
        <wsdl:part name="parameters" element="ns:guardaDetalleCamaraResponse"/>
    </wsdl:message>
    <wsdl:portType name="DetalleCamaraDaoPortType">
        <wsdl:operation name="obtenListaDetalleComercio">
            <wsdl:input message="ns:obtenListaDetalleComercioRequest" wsaw:Action="urn:obtenListaDetalleComercio"/>
            <wsdl:output message="ns:obtenListaDetalleComercioResponse" wsaw:Action="urn:obtenListaDetalleComercioResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eliminaDetalleCamara">
            <wsdl:input message="ns:eliminaDetalleCamaraRequest" wsaw:Action="urn:eliminaDetalleCamara"/>
            <wsdl:output message="ns:eliminaDetalleCamaraResponse" wsaw:Action="urn:eliminaDetalleCamaraResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizaDetalleComercio">
            <wsdl:input message="ns:actualizaDetalleComercioRequest" wsaw:Action="urn:actualizaDetalleComercio"/>
            <wsdl:output message="ns:actualizaDetalleComercioResponse" wsaw:Action="urn:actualizaDetalleComercioResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenDetalleComercio">
            <wsdl:input message="ns:obtenDetalleComercioRequest" wsaw:Action="urn:obtenDetalleComercio"/>
            <wsdl:output message="ns:obtenDetalleComercioResponse" wsaw:Action="urn:obtenDetalleComercioResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardaDetalleCamara">
            <wsdl:input message="ns:guardaDetalleCamaraRequest" wsaw:Action="urn:guardaDetalleCamara"/>
            <wsdl:output message="ns:guardaDetalleCamaraResponse" wsaw:Action="urn:guardaDetalleCamaraResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DetalleCamaraDaoSoap11Binding" type="ns:DetalleCamaraDaoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenListaDetalleComercio">
            <soap:operation soapAction="urn:obtenListaDetalleComercio" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaDetalleCamara">
            <soap:operation soapAction="urn:eliminaDetalleCamara" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaDetalleComercio">
            <soap:operation soapAction="urn:actualizaDetalleComercio" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenDetalleComercio">
            <soap:operation soapAction="urn:obtenDetalleComercio" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaDetalleCamara">
            <soap:operation soapAction="urn:guardaDetalleCamara" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DetalleCamaraDaoSoap12Binding" type="ns:DetalleCamaraDaoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenListaDetalleComercio">
            <soap12:operation soapAction="urn:obtenListaDetalleComercio" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaDetalleCamara">
            <soap12:operation soapAction="urn:eliminaDetalleCamara" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaDetalleComercio">
            <soap12:operation soapAction="urn:actualizaDetalleComercio" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenDetalleComercio">
            <soap12:operation soapAction="urn:obtenDetalleComercio" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaDetalleCamara">
            <soap12:operation soapAction="urn:guardaDetalleCamara" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DetalleCamaraDaoHttpBinding" type="ns:DetalleCamaraDaoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="obtenListaDetalleComercio">
            <http:operation location="obtenListaDetalleComercio"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminaDetalleCamara">
            <http:operation location="eliminaDetalleCamara"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaDetalleComercio">
            <http:operation location="actualizaDetalleComercio"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenDetalleComercio">
            <http:operation location="obtenDetalleComercio"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaDetalleCamara">
            <http:operation location="guardaDetalleCamara"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DetalleCamaraDao">
        <wsdl:port name="DetalleCamaraDaoHttpSoap11Endpoint" binding="ns:DetalleCamaraDaoSoap11Binding">
            <soap:address location="http://localhost:8080/proyectoSW2/services/DetalleCamaraDao.DetalleCamaraDaoHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DetalleCamaraDaoHttpSoap12Endpoint" binding="ns:DetalleCamaraDaoSoap12Binding">
            <soap12:address location="http://localhost:8080/proyectoSW2/services/DetalleCamaraDao.DetalleCamaraDaoHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DetalleCamaraDaoHttpEndpoint" binding="ns:DetalleCamaraDaoHttpBinding">
            <http:address location="http://localhost:8080/proyectoSW2/services/DetalleCamaraDao.DetalleCamaraDaoHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
