proyectoSW2/src/archivosXML/GasDao.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://dao" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax219="http://logica/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dao">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax220="http://logica/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao">
            <xs:import namespace="http://logica/xsd"/>
            <xs:element name="guardarGas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eGas" nillable="true" type="ax220:EGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardarGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenerGas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenerGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax220:EGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaGas">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax220:EGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizarGas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eGas" nillable="true" type="ax220:EGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizarGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarGas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eGas" nillable="true" type="ax220:EGas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarGasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://logica/xsd">
            <xs:complexType name="EGas">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detalleGas" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fechaPagoGas" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="ax219:EGasId"/>
                    <xs:element minOccurs="0" name="valorGas" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EGasId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clienteCedula" type="xs:int"/>
                    <xs:element minOccurs="0" name="reciboGas" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="obtenListaGasRequest">
        <wsdl:part name="parameters" element="ns:obtenListaGas"/>
    </wsdl:message>
    <wsdl:message name="obtenListaGasResponse">
        <wsdl:part name="parameters" element="ns:obtenListaGasResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarGasRequest">
        <wsdl:part name="parameters" element="ns:guardarGas"/>
    </wsdl:message>
    <wsdl:message name="guardarGasResponse">
        <wsdl:part name="parameters" element="ns:guardarGasResponse"/>
    </wsdl:message>
    <wsdl:message name="actualizarGasRequest">
        <wsdl:part name="parameters" element="ns:actualizarGas"/>
    </wsdl:message>
    <wsdl:message name="actualizarGasResponse">
        <wsdl:part name="parameters" element="ns:actualizarGasResponse"/>
    </wsdl:message>
    <wsdl:message name="eliminarGasRequest">
        <wsdl:part name="parameters" element="ns:eliminarGas"/>
    </wsdl:message>
    <wsdl:message name="eliminarGasResponse">
        <wsdl:part name="parameters" element="ns:eliminarGasResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenerGasRequest">
        <wsdl:part name="parameters" element="ns:obtenerGas"/>
    </wsdl:message>
    <wsdl:message name="obtenerGasResponse">
        <wsdl:part name="parameters" element="ns:obtenerGasResponse"/>
    </wsdl:message>
    <wsdl:portType name="GasDaoPortType">
        <wsdl:operation name="obtenListaGas">
            <wsdl:input message="ns:obtenListaGasRequest" wsaw:Action="urn:obtenListaGas"/>
            <wsdl:output message="ns:obtenListaGasResponse" wsaw:Action="urn:obtenListaGasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardarGas">
            <wsdl:input message="ns:guardarGasRequest" wsaw:Action="urn:guardarGas"/>
            <wsdl:output message="ns:guardarGasResponse" wsaw:Action="urn:guardarGasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarGas">
            <wsdl:input message="ns:actualizarGasRequest" wsaw:Action="urn:actualizarGas"/>
            <wsdl:output message="ns:actualizarGasResponse" wsaw:Action="urn:actualizarGasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarGas">
            <wsdl:input message="ns:eliminarGasRequest" wsaw:Action="urn:eliminarGas"/>
            <wsdl:output message="ns:eliminarGasResponse" wsaw:Action="urn:eliminarGasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerGas">
            <wsdl:input message="ns:obtenerGasRequest" wsaw:Action="urn:obtenerGas"/>
            <wsdl:output message="ns:obtenerGasResponse" wsaw:Action="urn:obtenerGasResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GasDaoSoap11Binding" type="ns:GasDaoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenListaGas">
            <soap:operation soapAction="urn:obtenListaGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarGas">
            <soap:operation soapAction="urn:guardarGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarGas">
            <soap:operation soapAction="urn:actualizarGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarGas">
            <soap:operation soapAction="urn:eliminarGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerGas">
            <soap:operation soapAction="urn:obtenerGas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GasDaoSoap12Binding" type="ns:GasDaoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenListaGas">
            <soap12:operation soapAction="urn:obtenListaGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarGas">
            <soap12:operation soapAction="urn:guardarGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarGas">
            <soap12:operation soapAction="urn:actualizarGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarGas">
            <soap12:operation soapAction="urn:eliminarGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerGas">
            <soap12:operation soapAction="urn:obtenerGas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GasDaoHttpBinding" type="ns:GasDaoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="obtenListaGas">
            <http:operation location="obtenListaGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarGas">
            <http:operation location="guardarGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarGas">
            <http:operation location="actualizarGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarGas">
            <http:operation location="eliminarGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerGas">
            <http:operation location="obtenerGas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GasDao">
        <wsdl:port name="GasDaoHttpSoap11Endpoint" binding="ns:GasDaoSoap11Binding">
            <soap:address location="http://localhost:8080/proyectoSW2/services/GasDao.GasDaoHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GasDaoHttpSoap12Endpoint" binding="ns:GasDaoSoap12Binding">
            <soap12:address location="http://localhost:8080/proyectoSW2/services/GasDao.GasDaoHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GasDaoHttpEndpoint" binding="ns:GasDaoHttpBinding">
            <http:address location="http://localhost:8080/proyectoSW2/services/GasDao.GasDaoHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
