proyectoSW2/src/archivosXML/PredialDao.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://dao" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax225="http://logica/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dao">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax226="http://logica/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao">
            <xs:import namespace="http://logica/xsd"/>
            <xs:element name="actualizarPredial">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="impuestoPredial" nillable="true" type="ax225:ImpuestoPredial"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizarPredialResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardarPredial">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="impuestoPredial" nillable="true" type="ax225:ImpuestoPredial"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardarPredialResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenerPredial">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenerPredialResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:ImpuestoPredial"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaPredial">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaPredialResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax225:ImpuestoPredial"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarPredial">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="impuestoPredial" nillable="true" type="ax225:ImpuestoPredial"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarPredialResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://logica/xsd">
            <xs:complexType name="ImpuestoPredial">
                <xs:sequence>
                    <xs:element minOccurs="0" name="NPredio" type="xs:int"/>
                    <xs:element minOccurs="0" name="fechaPagoPredial" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="impuestoPredio" type="xs:double"/>
                    <xs:element minOccurs="0" name="valorPredio" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="obtenListaPredialRequest">
        <wsdl:part name="parameters" element="ns:obtenListaPredial"/>
    </wsdl:message>
    <wsdl:message name="obtenListaPredialResponse">
        <wsdl:part name="parameters" element="ns:obtenListaPredialResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenerPredialRequest">
        <wsdl:part name="parameters" element="ns:obtenerPredial"/>
    </wsdl:message>
    <wsdl:message name="obtenerPredialResponse">
        <wsdl:part name="parameters" element="ns:obtenerPredialResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarPredialRequest">
        <wsdl:part name="parameters" element="ns:guardarPredial"/>
    </wsdl:message>
    <wsdl:message name="guardarPredialResponse">
        <wsdl:part name="parameters" element="ns:guardarPredialResponse"/>
    </wsdl:message>
    <wsdl:message name="eliminarPredialRequest">
        <wsdl:part name="parameters" element="ns:eliminarPredial"/>
    </wsdl:message>
    <wsdl:message name="eliminarPredialResponse">
        <wsdl:part name="parameters" element="ns:eliminarPredialResponse"/>
    </wsdl:message>
    <wsdl:message name="actualizarPredialRequest">
        <wsdl:part name="parameters" element="ns:actualizarPredial"/>
    </wsdl:message>
    <wsdl:message name="actualizarPredialResponse">
        <wsdl:part name="parameters" element="ns:actualizarPredialResponse"/>
    </wsdl:message>
    <wsdl:portType name="PredialDaoPortType">
        <wsdl:operation name="obtenListaPredial">
            <wsdl:input message="ns:obtenListaPredialRequest" wsaw:Action="urn:obtenListaPredial"/>
            <wsdl:output message="ns:obtenListaPredialResponse" wsaw:Action="urn:obtenListaPredialResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerPredial">
            <wsdl:input message="ns:obtenerPredialRequest" wsaw:Action="urn:obtenerPredial"/>
            <wsdl:output message="ns:obtenerPredialResponse" wsaw:Action="urn:obtenerPredialResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardarPredial">
            <wsdl:input message="ns:guardarPredialRequest" wsaw:Action="urn:guardarPredial"/>
            <wsdl:output message="ns:guardarPredialResponse" wsaw:Action="urn:guardarPredialResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarPredial">
            <wsdl:input message="ns:eliminarPredialRequest" wsaw:Action="urn:eliminarPredial"/>
            <wsdl:output message="ns:eliminarPredialResponse" wsaw:Action="urn:eliminarPredialResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarPredial">
            <wsdl:input message="ns:actualizarPredialRequest" wsaw:Action="urn:actualizarPredial"/>
            <wsdl:output message="ns:actualizarPredialResponse" wsaw:Action="urn:actualizarPredialResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PredialDaoSoap11Binding" type="ns:PredialDaoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenListaPredial">
            <soap:operation soapAction="urn:obtenListaPredial" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerPredial">
            <soap:operation soapAction="urn:obtenerPredial" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarPredial">
            <soap:operation soapAction="urn:guardarPredial" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarPredial">
            <soap:operation soapAction="urn:eliminarPredial" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarPredial">
            <soap:operation soapAction="urn:actualizarPredial" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PredialDaoSoap12Binding" type="ns:PredialDaoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenListaPredial">
            <soap12:operation soapAction="urn:obtenListaPredial" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerPredial">
            <soap12:operation soapAction="urn:obtenerPredial" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarPredial">
            <soap12:operation soapAction="urn:guardarPredial" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarPredial">
            <soap12:operation soapAction="urn:eliminarPredial" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarPredial">
            <soap12:operation soapAction="urn:actualizarPredial" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PredialDaoHttpBinding" type="ns:PredialDaoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="obtenListaPredial">
            <http:operation location="obtenListaPredial"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerPredial">
            <http:operation location="obtenerPredial"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarPredial">
            <http:operation location="guardarPredial"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarPredial">
            <http:operation location="eliminarPredial"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarPredial">
            <http:operation location="actualizarPredial"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PredialDao">
        <wsdl:port name="PredialDaoHttpSoap11Endpoint" binding="ns:PredialDaoSoap11Binding">
            <soap:address location="http://localhost:8080/proyectoSW2/services/PredialDao.PredialDaoHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PredialDaoHttpSoap12Endpoint" binding="ns:PredialDaoSoap12Binding">
            <soap12:address location="http://localhost:8080/proyectoSW2/services/PredialDao.PredialDaoHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PredialDaoHttpEndpoint" binding="ns:PredialDaoHttpBinding">
            <http:address location="http://localhost:8080/proyectoSW2/services/PredialDao.PredialDaoHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
