proyectoSW2/src/archivosXML/TelefoniaDao.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://dao" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax229="http://logica/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dao">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax230="http://logica/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao">
            <xs:import namespace="http://logica/xsd"/>
            <xs:element name="obtenTelefonia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenTelefoniaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax229:Telefonia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaTelefonia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="telefonia" nillable="true" type="ax229:Telefonia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizaTelefoniaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarTelefonia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="telefonia" nillable="true" type="ax229:Telefonia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarTelefoniaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaTelefonia">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenListaTelefoniaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax229:Telefonia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaTelefonia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="telefonia" nillable="true" type="ax229:Telefonia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardaTelefoniaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://logica/xsd">
            <xs:complexType name="Telefonia">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detalleTelefonia" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fechaPagoTelefonia" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="ax229:TelefoniaId"/>
                    <xs:element minOccurs="0" name="valorTelefonia" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TelefoniaId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clienteCedula" type="xs:int"/>
                    <xs:element minOccurs="0" name="reciboTelefono" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="obtenTelefoniaRequest">
        <wsdl:part name="parameters" element="ns:obtenTelefonia"/>
    </wsdl:message>
    <wsdl:message name="obtenTelefoniaResponse">
        <wsdl:part name="parameters" element="ns:obtenTelefoniaResponse"/>
    </wsdl:message>
    <wsdl:message name="guardaTelefoniaRequest">
        <wsdl:part name="parameters" element="ns:guardaTelefonia"/>
    </wsdl:message>
    <wsdl:message name="guardaTelefoniaResponse">
        <wsdl:part name="parameters" element="ns:guardaTelefoniaResponse"/>
    </wsdl:message>
    <wsdl:message name="eliminarTelefoniaRequest">
        <wsdl:part name="parameters" element="ns:eliminarTelefonia"/>
    </wsdl:message>
    <wsdl:message name="eliminarTelefoniaResponse">
        <wsdl:part name="parameters" element="ns:eliminarTelefoniaResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenListaTelefoniaRequest">
        <wsdl:part name="parameters" element="ns:obtenListaTelefonia"/>
    </wsdl:message>
    <wsdl:message name="obtenListaTelefoniaResponse">
        <wsdl:part name="parameters" element="ns:obtenListaTelefoniaResponse"/>
    </wsdl:message>
    <wsdl:message name="actualizaTelefoniaRequest">
        <wsdl:part name="parameters" element="ns:actualizaTelefonia"/>
    </wsdl:message>
    <wsdl:message name="actualizaTelefoniaResponse">
        <wsdl:part name="parameters" element="ns:actualizaTelefoniaResponse"/>
    </wsdl:message>
    <wsdl:portType name="TelefoniaDaoPortType">
        <wsdl:operation name="obtenTelefonia">
            <wsdl:input message="ns:obtenTelefoniaRequest" wsaw:Action="urn:obtenTelefonia"/>
            <wsdl:output message="ns:obtenTelefoniaResponse" wsaw:Action="urn:obtenTelefoniaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardaTelefonia">
            <wsdl:input message="ns:guardaTelefoniaRequest" wsaw:Action="urn:guardaTelefonia"/>
            <wsdl:output message="ns:guardaTelefoniaResponse" wsaw:Action="urn:guardaTelefoniaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarTelefonia">
            <wsdl:input message="ns:eliminarTelefoniaRequest" wsaw:Action="urn:eliminarTelefonia"/>
            <wsdl:output message="ns:eliminarTelefoniaResponse" wsaw:Action="urn:eliminarTelefoniaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenListaTelefonia">
            <wsdl:input message="ns:obtenListaTelefoniaRequest" wsaw:Action="urn:obtenListaTelefonia"/>
            <wsdl:output message="ns:obtenListaTelefoniaResponse" wsaw:Action="urn:obtenListaTelefoniaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizaTelefonia">
            <wsdl:input message="ns:actualizaTelefoniaRequest" wsaw:Action="urn:actualizaTelefonia"/>
            <wsdl:output message="ns:actualizaTelefoniaResponse" wsaw:Action="urn:actualizaTelefoniaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TelefoniaDaoSoap11Binding" type="ns:TelefoniaDaoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenTelefonia">
            <soap:operation soapAction="urn:obtenTelefonia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaTelefonia">
            <soap:operation soapAction="urn:guardaTelefonia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarTelefonia">
            <soap:operation soapAction="urn:eliminarTelefonia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaTelefonia">
            <soap:operation soapAction="urn:obtenListaTelefonia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaTelefonia">
            <soap:operation soapAction="urn:actualizaTelefonia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TelefoniaDaoSoap12Binding" type="ns:TelefoniaDaoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obtenTelefonia">
            <soap12:operation soapAction="urn:obtenTelefonia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaTelefonia">
            <soap12:operation soapAction="urn:guardaTelefonia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarTelefonia">
            <soap12:operation soapAction="urn:eliminarTelefonia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaTelefonia">
            <soap12:operation soapAction="urn:obtenListaTelefonia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaTelefonia">
            <soap12:operation soapAction="urn:actualizaTelefonia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TelefoniaDaoHttpBinding" type="ns:TelefoniaDaoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="obtenTelefonia">
            <http:operation location="obtenTelefonia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaTelefonia">
            <http:operation location="guardaTelefonia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarTelefonia">
            <http:operation location="eliminarTelefonia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenListaTelefonia">
            <http:operation location="obtenListaTelefonia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaTelefonia">
            <http:operation location="actualizaTelefonia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TelefoniaDao">
        <wsdl:port name="TelefoniaDaoHttpSoap11Endpoint" binding="ns:TelefoniaDaoSoap11Binding">
            <soap:address location="http://localhost:8080/proyectoSW2/services/TelefoniaDao.TelefoniaDaoHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TelefoniaDaoHttpSoap12Endpoint" binding="ns:TelefoniaDaoSoap12Binding">
            <soap12:address location="http://localhost:8080/proyectoSW2/services/TelefoniaDao.TelefoniaDaoHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TelefoniaDaoHttpEndpoint" binding="ns:TelefoniaDaoHttpBinding">
            <http:address location="http://localhost:8080/proyectoSW2/services/TelefoniaDao.TelefoniaDaoHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
